[color]
  ui = auto

# Useful aliases to make it easier to type in common commands
# This section should be appended to your existing .gitconfig
[alias]
  b = branch
  co = checkout
  ci = commit
  dc = diff --cached
  st = status
  pu = remote update --prune
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
